<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Angular Router</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="loadMl5" ngbTooltip="Carga basica">loadMl5</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="xorTf" ngbTooltip="Problema XOR">TF XOR</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="trainImg" ngbTooltip="Problema XOR">load training images</a></li>
      </ul>
</nav>

<router-outlet></router-outlet>
