<div class="row">
  <div class="col">
      <img src="https://ml5js.org/docs/assets/img/bird.jpg"  crossorigin="anonymous" id="image" width="200">
  </div>
  <div class="col">
    <button type="button" class="btn" (click)="test1()" ngbTooltip="Test">
       Test bird clasify
     </button>
  </div>
</div>
<div class="row">
  <div class="col">
     <button type="button" class="btn" (click)="test2()" ngbTooltip="Test">
         Test
     </button>
  </div>
  <div class="col">
      <img src="../../assets/imgSrc/typeA/WIN_20190130_16_34_27_Pro.jpg"  crossorigin="anonymous" id="imageA1" width="200">
  </div>
</div>
<div class="row">
    <div class="col">
       <button type="button" class="btn" (click)="learn1()" ngbTooltip="">
           Training 1
       </button>
    </div>
    <div class="col"></div>
  </div>

