<div class="row" #myMainId>
  <div class="col" id="learningZone">
    <div class="row">
      <div class="col">
        <span class="badge badge-info">1</span><span>Inicializacion: </span>
        <button type="button" class="btn btn-secondary" (click)="testInit()" ngbTooltip="Test">
          Test init
        </button>
      </div>
      <div class="col-2">
        <span id="sinit" class="badge badge-secondary">Initializing</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <span class="badge badge-info">2</span><span>Ficheros aprendizaje</span>
      </div>
      <div class="col">
        <ngx-file-drop headertext=" Arrastrar aqui las imagenes" (onFileDrop)="dropped2($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
          <span>-</span>
        </ngx-file-drop>
      </div>
      <div class="col-2">
        <span id="sfiles" class="badge badge-secondary">Pending</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <span class="badge badge-info">3</span><span> Train</span>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="testTrain()" ngbTooltip="Train data">
          train
        </button>
      </div>
      <div class="col-2">
        <span id="strain" class="badge badge-secondary">Pending</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <span class="badge badge-info">4</span><span>Acurracy</span>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="testAcurracyTrain()" ngbTooltip="test with self data">
          test train acurracy
        </button>
      </div>
      <div class="col-2">
        <span id="sAcurracy" class="badge badge-secondary">Pending</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <span>test single image</span>
      </div>
      <div class="col">
        <ngx-file-drop headertext=" Arrastrar aqui una imagen" (onFileDrop)="dropped3($event)">
        </ngx-file-drop>
      </div>
      <div class="col">
        <img id="idImgTest" />
      </div>
      <div class="col-2">
        <span id="sTestFile" class="badge badge-secondary">Pending</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <span class="badge badge-info">5</span><span> donwload config</span>
      </div>
      <div class="col-2">
        <div class="input-group  input-group-sm">
          <div class="input-group-prepend ">
            <span class="input-group-text" id="basic-addon1">Nombre</span>
          </div>
          <input type="text" class="form-control" placeholder="nombre" [(ngModel)]="fileName" />
        </div>        
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="downloadCfg()" ngbTooltip="Download Data">
          Donwload Data
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <span class="badge badge-info">5</span><span> load config</span>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="loadCfg()" ngbTooltip="load Data">
          Load Data
        </button>
      </div>
    </div>
    <div class="row">
      <span>loading: </span>
    </div>
    <div class="row">
      <div class="col">
        <span>Ficheros de aprendizaje</span>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary" (click)="test2()" ngbTooltip="Test">
          Test a function
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary" (click)="testMemory()" ngbTooltip="check memory use">
          memory use
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary" (click)="testAddDataMlClass()" ngbTooltip="ML test add data">
          test addData ml
        </button>
        <button type="button" class="btn btn-secondary" (click)="testTrainMlClass()" ngbTooltip="ML test train ">
          test Train ml
        </button>
      </div>
    </div>
  </div>
</div>