<div class="row">
  <div class="col" id="learningZone">
    <div class="row">
      <div class="col">
        <span>Ficheros de aprendizaje</span>
        <button type="button" class="btn btn-primary" (click)="test1()" ngbTooltip="Test">
          inicializar clasificador
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary" (click)="test2()" ngbTooltip="Test">
          Test a function
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="testTrain()" ngbTooltip="Train data">
          train
        </button>
        <button type="button" class="btn btn-primary" (click)="testAcurracyTrain()" ngbTooltip="test with self data">
          test train acurracy
        </button>
        <button type="button" class="btn btn-secondary" (click)="testMemory()" ngbTooltip="check memory use">
          memory use
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary" (click)="testAddDataMlClass()" ngbTooltip="ML test add data">
          test addData ml
        </button>
        <button type="button" class="btn btn-secondary" (click)="testTrainMlClass()" ngbTooltip="ML test train ">
          test Train ml
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <file-drop headertext="Drop files here" (onFileDrop)="dropped2($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
          <span>optional content (don't set headertext then)</span>
        </file-drop>
      </div>
      <div class="col">
        <img #miImg crossorigin="anonymous" id="miTestImg" width="100">
        <span>{{testImgLabel}}</span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="upload-table">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody class="upload-name-style">
          <tr *ngFor="let item of files; let i=index">
            <td><strong>{{ item.relativePath }}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
